body {
  background: rgb(36, 36, 36);
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.taskList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.task {
  display: flex;
  flex-wrap: nowrap;
  background-color: grey;
  width: 90%;
  border-radius: 5px;
  padding: 15px;
}

.task > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  aspect-ratio: 1;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.addButton i {
  content: url(./icons/add.svg);
  height: 100%;
}

.editButton i {
  content: url(./icons/edit.svg);
  height: 100%;
}

.deleteButton i {
  content: url(./icons/delete.svg);
  height: 90%;
}

.acceptButton i {
  content: url(./icons/accept.svg);
  height: 100%;
}

.cancelButton i {
  content: url(./icons/cancel.svg);
  height: 70%;
}

.task > div > p {
  margin: 0;
}

.task > div > div {
  display: flex;
  gap: 4px;
}

.task > form {
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.task > form > input {
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

.task > form > div {
  display: flex;
  gap: 4px;
}
